{{#unless hasBegun}}
  <h1>Privilege Walk</h1>
  <p>
    This app demonstrates the ways society privileges certain individuals over others. It is inspired by <a href="https://edge.psu.edu/workshops/mc/power/privilegewalk.shtml">this classroom activity</a>.
  </p>
  <p>
    On the following pages you will be asked a question. Based on your life experience, you will be asked to either take a step forwards or backwards.
  </p>
  <button {{action "handleBegin"}}>Let's begin!</button>
{{else}}
  <QuestionContainer
    @currentIndex={{currentIndex}}
    @score={{score}}
    @isLastQuestion={{isLastQuestion}}
    @isDone={{isDone}}
    @startOver={{action "startOver"}}
    />
{{/unless}}
