<p>
  {{#if isDone}}
    <ResultsPage @handleStartOver={{action "handleStartOver"}} @model={{model}}/>
  {{else}}
    <QuestionItem @currentIndex={{currentIndex}}/>
    <div class="answer-buttons">
      <button {{action "handleForward"}}>Step forward</button>
      <button {{action "handleBackward"}}>Step back</button>
    </div>
  {{/if}}
  <ScoreBar @score={{score}} />
</p>
