<p>
  {{#if isDone}}
  {{else}}
    <QuestionItem @currentIndex={{currentIndex}}/>
    <div class="answer-buttons">
      <button {{action "handleForward"}}>Step forwards</button>
      <button {{action "handleBackward"}}>Step back</button>
    </div>
  {{/if}}
  <ScoreBar @isUser={{true}} @score={{score}} />
</p>
