<h2>Results</h2>
<p>
  You're done!
</p>
<p>
  You took {{pluralize stepsForward "step"}} forward and {{pluralize stepsBack "step"}} back.
</p>
<p>
  You have {{percentage}} privilege than the average respondent.
</p>
<p>
  Learn more about ....<a href="#">link to some kind of educational resource on privilege</a>.
</p>
<input type="range" min="-21" max="20" value={{parentMode.score}} disabled class="score"/>
<section>
  <ul>
    {{#each model as |answer|}}
      <li>{{answer.id}}</li>
        <ul>
          <li>
            Score: {{answer.score}}
          </li>
        {{#each answer.answers as |a|}}
          <li>
            {{a}}
          </li>
        {{/each}}
      </ul>
    {{/each}}
  </ul>
</section>
