<h2>Results</h2>
<p>
  You took {{pluralize stepsForward "step"}} forward and {{pluralize stepsBack "step"}} back for a total score of {{parentModel.score}}. The higher your score, the more privilege you are afforded.
</p>
<ScoreBar @isUser={{true}} @score={{parentModel.score}} />
<p>
  Learn more about ....<a href="#">link to some kind of educational resource on privilege</a>.
</p>
<p>
  The average score is {{averageScore}}. Here's how your score compares with others:
</p>
<section class="all-scores">
  {{#each model as |answer|}}
    <ScoreBar @score={{answer.score}} />
  {{/each}}
</section>
