<h2>Results</h2>
<p>
  You're done!
</p>
<p>
  You took {{stepsForward}} steps forward and {{stepsBack}} steps back.
</p>
<p>
  Learn more about ....<a href="#">link to some kind of educational resource on privilege</a>.
</p>
<section>
  <ul>
    {{#each model as |answer|}}
      <li>{{answer.id}}</li>
        <ul>
          <li>
            Score: {{answer.score}}
          </li>
        {{#each answer.answers as |a|}}
          <li>
            {{a}}
          </li>
        {{/each}}
      </ul>
    {{/each}}
  </ul>
</section>
<button {{action handleStartOver}} class="start-over">Start over</button>
